extends layout/main-layout.pug

block title
    title About Screen Config
block css
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/bootstrap.min.css")

block header
    h1 About Configurations
    


