extends layout/main-layout.pug

block title
    title Food Manager
block css
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/bootstrap.min.css")

block header
    h1 Food Manager
block page-content
    


