extends layout/main-layout.pug

block title
    title Home Screen Config
block css
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/bootstrap.min.css")

block header
    h1 Home Page Configurations

block page-content
    .config-form-wrapper
        form.config-form.form-group(action="/admin/home",method="POST")
            div
                label(for="greeting") Greetings 
                input.form-control(type="text",name="greeting",value=data && data.greetings)
            div
                label(for="role") Role
                input.form-control(type="text",name="role",value=data && data.role)
            div
                label(for="introduction") Introduction
                textarea.form-control(name="introduction", cols="30", rows="10") #{data && data.intro}
            div
                if(data!==null)
                    button.btn.btn-primary(type="submit") Update
                else
                    button(type="submit") Add
        .image-slider-wrapper
            .image-slider-header
            .image-slider-body
                //- form.img-uploader-form(enctype="multipart/form-data",id="img-upload-form",action="/admin/home/img",method="POST")
                //-     input(type="file",multiple,name="img-uploader")
                //-     button(type="submit") add pictures
                form.img-uploader-form(submit="")
                    input(type="file",multiple,name="img-uploader")
                    button(type="submit") add pictures
                #file-list-to-upload

block image-sidebar
    include layout/slider-images-sidebar.pug

block scripts
    script(src="/templates/home/imageListing.js")
    script(src="/templates/home/filesToUploadList.js")
    script(src="/js/admin/home/home.js")