div#drawer.closed.d-lg-none
    nav.navbar.navbar-light
        div.container.d-flex.flex-column
            .collapse.navbar-collapse.d-flex.justify-content-center.h-100#navbarNav
                ul.navbar-nav.h-100.flex-column.align-items-center
                    li.nav-item.navigation-link
                        a.nav-link.navbar-brand.navigation-link(href="#home")
                            div.logo
                            <span>Home</span>
                    li.nav-item.navigation-link
                        a.nav-link(href="#about") About me 
                    li.nav-item.navigation-link
                        a.nav-link(href="#belief") My Belief
                    li.nav-item.navigation-link
                        a.nav-link(href="#passion") My Passion
                    li.nav-item.navigation-link
                        a.nav-link(href="#connect") Connect