#passion-wrapper.section-wrapper
    .section-header
        h1 Things that i love to do
        .line-wrapper
            .line
    .section-body
        .d-flex.card-wrapper.flex-row.flex-wrap.overflow-hidden
            .passion-card.card.passion-music
                .passion-slider-wrapper
                    .slider
                        each img in passionImages.music
                            .slide(style="background-image:url('"+ img+"')")
                div.passion-title-wrapper
                    span.passion-title Music
            .passion-card.card.passion-travelling
                .passion-slider-wrapper
                    .slider
                        each img in passionImages.travelling
                            .slide(style="background-image:url('"+ img+"')")
                div.passion-title-wrapper
                    span.passion-title Travelling
            .passion-card.card.passion-cycling
                .passion-slider-wrapper
                    .slider
                        each img in passionImages.cycling
                            .slide(style="background-image:url('"+ img+"')")
                div.passion-title-wrapper
                    span.passion-title Cycling
            .passion-card.card.passion-gyming
                .passion-slider-wrapper
                    .slider
                        each img in passionImages.gyming
                            .slide(style="background-image:url('"+ img+"')")
                div.passion-title-wrapper
                    span.passion-title Gyming
            .passion-card.card.passion-sports
                .passion-slider-wrapper
                    .slider
                        each img in passionImages.sports
                            .slide(style="background-image:url('"+ img+"')")
                div.passion-title-wrapper
                    span.passion-title Sports
            .passion-card.card.passion-gardening
                .passion-slider-wrapper
                    .slider
                        each img in passionImages.gardening
                            .slide(style="background-image:url('"+ img+"')")
                div.passion-title-wrapper
                    span.passion-title Gardening
            .passion-card.card.passion-dogs
                .passion-slider-wrapper
                    .slider
                        each img in passionImages.dogs
                            .slide(style="background-image:url('"+ img+"')")
                div.passion-title-wrapper
                    span.passion-title Playing with Dogs
            .passion-card.card.passion-photography
                .passion-slider-wrapper
                    .slider
                        each img in passionImages.photography
                            .slide(style="background-image:url('"+ img+"')")
                div.passion-title-wrapper
                    span.passion-title Photography
            .passion-card.card.passion-football
                .passion-slider-wrapper
                    .slider
                        each img in passionImages.football
                            .slide(style="background-image:url('"+ img+"')")
                div.passion-title-wrapper
                    span.passion-title Watching Football