extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/font-awesome.min.css")

block content
    div.content
        ul.d-block.h-100
            li.introduction-slide.section#home
                .intro-content-wrapper.h-100
                    header.header
                        include layouts/header.pug
                    .introduction-slide-content.d-flex.align-items-center.justify-content-center
                        .intro-wrapper.w-100.text-center
                            .container
                                h5 Hey, I'm 
                                h1 JAY THAKKAR
                                div.subtitle-wrapper.w-100.text-center
                                    h3.subtitle.d-inline-block Front-End Develper + Full-Stack Developer(Node.js)
                                div.brief-intro-wrapper.w-100.text-center
                                    h4.brief-intro.d-inline-block A UI Developer,Full-Stack Developer(Node.js) from India with a focus in user experience, Visual and Interaction design. Apart from a Developer, i'm also an Avid Cyclist, a Sports Activist and an Artist. 
                                a#resume-button(href="/images/JayMThakkar.docx" download="resume-jaythakkar.docx") Resume
            li.section.bg-gray#about
                div.container
                    div.section-content
                        include layouts/about.pug
            li.section.bg-white#belief
                div.container
                    div.section-content
                        include layouts/beliefs.pug
            li.section.bg-gray#passion
                div.container
                    div.section-content
                        include layouts/passion.pug
            li.section.bg-white#connect
                div.container
                    div.section-content
                        include layouts/contact.pug
            li.section#footer
                include layouts/footer.pug

                