extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/font-awesome.min.css")

block content
    div.content
        ul.d-block.h-100
            li.introduction-slide.section#home
                header.header
                    include layouts/header.pug
                .introduction-slide-content.d-flex.align-items-center.justify-content-center
                    h1 hi, i'am JAY THAKKAR
            li.section.bg-gray#about
                div.container
                    div.section-content
                        include layouts/about.pug
            li.section.bg-white#belief
                div.container
                    div.section-content
                        include layouts/beliefs.pug
            li.section.bg-gray#passion
                div.container
                    div.section-content
                        include layouts/passion.pug
            li.section.bg-white#connect
                div.container
                    div.section-content
                        include layouts/contact.pug
            li.section#footer
                include layouts/footer.pug

                