#sec-login{
    .card{
        h3{
            font-size:2.2rem;
        }
        p{
            font-size:1.6rem;
            margin:0;
        }
        .form-group{
            .form-control{
                border:none;
                padding:0;
                border-bottom:1px solid #ccc;
                font-size:1.5rem;
                &:focus,&:active{
                    outline:none;
                    box-shadow:none;
                }
            }
        }
        a.fgt-password,.login-button{
            font-size:1.6rem;
        }
        a.fgt-password{
            color:#495057;
            &:hover{
                text-decoration:none;
                color:#495057;
            }
        }
        a.login-button{
            color:#fff;
            background-color:#303e3e;
        }
    }
    .sign-up-link-container{
        p{
            font-size:1.6rem
            a{
                color:#f54;
                &:hover{
                    text-decoration:none;
                }
            }
        }
    }
}
