.body-container-wrapper{
    height:100%;
    .button-container.row{
        margin:0;
        flex-direction:column
        p{
            margin:0;
            font-size:1.4rem;
        }
        a{
            font-size:1.6rem;
            color:#fff;
        }
        a.btn.login{
            background-color:#303e3e;
        }
        a.btn.register{
            background-color:#f54;
        }
    }
}