#admin-container
    .config-form-wrapper
        .form-group
            .form-control
                height:auto;
                border:none;
                background-color:transparent;
        .image-slider-container
            ul.home-page-image-list
                list-style:none
                li.list-item.row
                    margin:1rem 0;
                    border-bottom: 1px solid #000000;
                    padding: 1rem
                    div.image-container
                        height:200px
                        width:200px
                        border: 1px solid #000000;
                        padding: .5rem;
                        img
                            height:100%
                            width:100%
                            object-fit:cover
                    div.delete-button-container
                        a
                            display:inline-block;
                            i.fa.fa-trash-o
                                font-size:2.4rem;