.sidebar-header,.sidebar-footer
    padding:2rem 0
    h3
        text-align:center
.nav-wrapper
    height:100%
    ul.navigation
        padding:0
        list-style:none;
        li.nav-link
            text-align:center