.App {
  text-align: center;
  height:100%;
}
.App.row{
  margin:0 !important;
  padding:0 !important;
}
.App .sidebar-wrapper{
  border-right: 1px solid #dee2e6;
  padding:0;
}

.body-wrapper{
  padding-top:1.5rem;
  padding-right:0;
  padding-left:0;
  height:100%;
}