fred-font =
    font-family:fred
amatic-regular-font = 
    font-family:amatic-regular
amatic-bold-font = 
    font-family:amatic-bold
crimson-bold-font = 
    font-family:crimson-bold
crimson-bold-italic-font = 
    font-family:crimson-bold-italic
crimson-italic-font = 
    font-family:crimson-italic
crimson-regular-font = 
    font-family:crimson-regular
crimson-semibold-font = 
    font-family:crimson-semibold
crimson-semibold-italic-font = 
    font-family:crimson-semibold-italic
    