#contact-wrapper.section-wrapper
    .section-body
        padding:5rem 0;
        .section-body-wrapper
            .contact-list-text-wrapper
                .contact-list-text
                    font-size:1.8rem;
                    font-weight:normal;
                    &:last-child
                        font-weight:500;
                        font-size:2rem;
                        margin-top:2.5rem;
            .contact-list-wrapper
                margin-top:4rem;
                margin-bottom:1rem;
                ul.contact-list
                    li.list-item
                        &:nth-child(1)
                            .img-container
                                background-size:4rem;
                        &:nth-child(2)
                            .img-container
                                background-size:4.8rem;
                        .img-container
                                height: 10rem;
                                width: 10rem;
                                background-repeat: no-repeat;
                                background-position: center;
                        .social-info-container
                            display:flex;
                            flex-direction:column;
                            justify-content:center;
                            .title
                                span
                                    font-size:1.6rem;
                                    font-weight:bold;
                            .value
                                span
                                    font-size:1.5rem;
   
