#footer
    .footer-container
        padding:2.5rem 0;
        background-color:#f54;
        p
            margin:0
            text-align:center;
            color:#3e3030;
            font-size:1.8rem;
            {crimson-bold-font}