@font-face
    font-family:'fred';
    src:url('/fonts/FrederickatheGreat-Regular.ttf') format('truetype');
@font-face
    font-family:'amatic-bold';
    src:url('/fonts/AmaticSC-Bold.ttf') format('truetype');
@font-face
    font-family:'amatic-regular';
    src:url('/fonts/AmaticSC-Regular.ttf') format('truetype');
@font-face
    font-family:'crimson-bold';
    src:url('/fonts/CrimsonText-Bold.ttf') format('truetype');
@font-face
    font-family:'crimson-bold-italic';
    src:url('/fonts/CrimsonText-BoldItalic.ttf') format('truetype');
@font-face
    font-family:'crimson-italic';
    src:url('/fonts/CrimsonText-Italic.ttf') format('truetype');
@font-face
    font-family:'crimson-regular';
    src:url('/fonts/CrimsonText-Regular.ttf') format('truetype');
@font-face
    font-family:'crimson-semibold';
    src:url('/fonts/CrimsonText-SemiBold.ttf') format('truetype');
@font-face
    font-family:'crimson-semibold-italic';
    src:url('/fonts/CrimsonText-SemiBoldItalic.ttf') format('truetype');

@import 'nib'
@import 'blocks.styl'
@import 'about.styl'
@import 'belief.styl'
@import 'passion.styl'
@import 'contact.styl'
@import 'footer.styl'
@import 'admin/main-layout.styl'
@import 'admin/home.styl'
@import 'users/main.styl'


bg-color = #f5f5f5 !important

html,body,.main-wrapper,.container,.content{
    height:100%;
}
html,body
    font-size:10px;
body
    background-color bg-color

html,body,.container-fluid{
    padding:0;
    margin:0;
}
html
    scroll-behavior:smooth
.main-wrapper
    header.static-header
        position:fixed;
        width:100%;
        z-index:7;
        nav
            background: #3e3030

            
header
    height:6rem;
    nav
        &.d-lg-none
            .container
                align-items:center !important;
        .container
            align-items:flex-start !important
        a.navbar-brand.navigation-link
            padding:0;
            height:4.2rem;
            span
                font-size:2rem;
                color:#f5f5f5;
                vertical-align:middle;
                {fred-font}
            &.active
                border-bottom: 3px solid #f54;
                span
                    color: #ff5544 !important;
        height:100%;
        ul.navbar-nav
            li.nav-item.navigation-link
                height:4.2rem;
                margin-right:4rem;
                a.nav-link
                    padding:0;  
                    font-size:2rem;
                    color:#f5f5f5 !important;
                    {fred-font}
                &.active
                    border-bottom: 3px solid #ff5544;
                    a.nav-link
                        color: #ff5544 !important;
.content
    ul
        padding:0;
        list-style:none;
        li.introduction-slide
            height:100%;
            background-image:url('/images/introduction_background.jpg');
            background-size:cover;
            background-attachment:fixed;
            display: flex;
            flex-direction: column;
            .intro-content-wrapper
                background-color:rgba(0,0,0,.5)
            header
                nav
                    background-color:transparent !important;
            .introduction-slide-content
                height:100%
                .intro-wrapper
                    h1,h5,h4.brief-intro
                        color:#ffffff
                    h5
                        {amatic-regular-font}
                        font-size:3.5rem
                        font-style:italic
                    h1
                        {fred-font}
                        font-size:5rem
                    h3.subtitle
                        {fred-font}
                        font-size:2.4rem
                        color:#f54
                    div.brief-intro-wrapper
                        margin-top:6rem
                        h4.brief-intro
                            {crimson-semibold-font}
                            font-size:2rem;
                        
        li.section
            div.section-content
                padding-top:6rem;

.bg-gray
    gackground-color:#eee;

.section-wrapper
    padding-top:6rem;

.section-wrapper
    .section-header
        h1
            text-align:center;
            color: #3e3030;
            margin-bottom:1rem;
            font-family:fred
        .line-wrapper
            width:100%;
            position:realtive;
            height:.3rem;
            .line
                height:.3rem;
                width:10%
                position:absolute;
                background:#3e3030;
                left:50%;
                transform:translateX(-50%);
                background:#ff5544;
    .section-body
        ul.list
            padding:5rem 0;

#resume-button
    padding:.5rem;
    color:#ffffff;
    bottom:1.5rem;
    right:1.5rem;
    font-size:2rem;
    transition:all .3s ease-in-out;
    background:transparent;
    border:1px solid #ffffff;
    width:20rem
    display:inline-block
    margin-top:2rem
    {crimson-semibold-font}
    &:hover
        text-decoration:none;
        background: #ff5544 radial-gradient(circle, transparent 1%, transparent 1%) center/15000%;
        transition:all .3s ease-in-out;
        border:1px solid #ff5544
    &:active
        background-color: #fbaea7;
        background-size: 100%;
        border:1px solid #fbaea7;
        transition: all 0s;

.opacity-0{
    opacity: 0!important;
}   
.opacity-1{
    opacity:1 !important;
}
.header
    transition:opacity .5s ease;
    .logo
        background-image: url(/images/JT.png);
        display: inline-block;
        height: 3.2rem;
        width: 3.2rem;
        background-size: cover;
        vertical-align: middle;
        background-position: center;
        margin-right:1rem;
    .d-lg-none
        button.navbar-toggler
            position:absolute;
            background-color:#3e3030;
            top:1rem;
            left:1rem;
            height:3.5rem;
        .navbar-nav.flex-column.align-items-center
            .nav-item.navigation-link
                display:none;
                margin:0;   
                &.active
                    display:block;

button.navbar-toggler
    background-color:transparent;
    position:fixed;
    top:1rem;
    left:1rem;
    font-size:2.5rem
    color:#f54
    z-index:10
    &:active,&:focus
        outline:none

#drawer
    position: fixed;
    z-index: 9;
    height: auto;
    width: 100%;
    background-color:#3e3030
    transition:top .8s ease-in-out
    &.closed
        top:-100%
    &.opened
        top:0
    &.closed,&.opened
        transition:top .8s ease-in-out
    ul.navbar-nav
        padding:3rem 0;
        overflow:hidden
        li.nav-item
            &.active
                border-bottom:3px solid #f54
                a
                    color:#f54
            a
                font-size:2rem
                cursor:pointer
                color:#fff
                {fred-font}


@import 'media.styl'