#passion-wrapper
    .section-body
        .card-wrapper
            padding:5rem 0;
            justify-content:center;
            .passion-card
                width:33.33%;
                height:30rem;
                border:none;
                overflow:hidden;
                .passion-card-wrapper
                    margin:.2rem .2rem .2rem 0;
                    &:hover .passion-title-wrapper
                        height:6rem
                    position:relative;
                    .passion-slider-wrapper
                        height:100%
                        overflow:hidden;
                        .slider
                            height:100%
                            display:flex;
                            transition:transform 1s ease;
                            .slide
                                width:100%;
                                height:30rem;
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: center;
                                flex:0 0 auto
                    .passion-title-wrapper
                        position:absolute
                        bottom:0
                        width:100%
                        height:100%
                        background-color:rgba(0,0,0,.5)
                        display:flex
                        align-items:flex-end
                        transition:height 1s ease;
                        .passion-title
                            font-size:2.4rem;
                            display:block;
                            color:#fff;
                            width:100%
                            text-align:center;
                            padding:1.5rem;
                            height:6rem
                            line-height:1
                            