.todo-container{
    .addtodo-container{
        .addtodo-form{
            display:flex;
            input[name="title"]{
                flex:9;
                padding:.2rem;
            }
        }
    }
}
header{
    font-size:2rem;
    font-weight:bold;
}
.todos-list{
    .todo-item{
        display:flex;
        background-color:#f4f4f4;
        border-bottom:1px dotted #303e3e;
        padding:.5rem;
        &.completed{
            h1.todo-title{
                text-decoration: line-through;
            }
        }
        .chkbox-container{
            display:flex;
            align-items:center;
            padding:0 1rem;
        }
        h1.todo-title{
            font-size:1.5rem;
            margin:0;
            text-align:left;
            flex:1;
        }
        .delete-btn{
            border-radius:5px;
            border:1px solid #f4f4f4;
            background-color:#f54;
        }
    }
}