extends layouts/main-layout.pug

block body
    #sec-signup.body-container-wrapper.d-flex.align-items-center.justify-content-center.flex-column
        .card.w-50.p-5
            h3.text-center.mb-3 Signup
            p.text-center Signup to be a part of the Thakkar's Journal.
            form#signup-form(method="POST",action="/user/signup")
                div.form-group.my-5
                    input#inp_username.form-control.mb-3(name="inp_username",type="text",placeholder="Username")
                    input#inp_password.form-control.mb-3(name="inp_password",type="password",placeholder="Password")
                    input#inp_confirm-password.form-control(type="password",placeholder="Confirm Password")
                button.signup-button.btn.w-100(type="submit") Signup
        .login-link-container.mt-5
            p Already have an account?
                a(href="/user/login")  Login