.about-wrapper{
        height:100%;
        display:flex;
        flex-direction: column;
}
.about-wrapper .body-navbar-wrapper .nav-tabs .nav-item .nav-link{
        padding:.5rem 1rem;
}
.about-wrapper .body-navbar-wrapper .nav-tabs.row{
        margin:0;
        padding:0;
}       
.about-list-container{
        padding:0 2rem;
        overflow: auto;
}
.about-list-container .about-item-list{
        list-style:none;
        padding:0;
        padding-top:1.5rem;
}

.add-about-wrapper .form-control{
        margin-bottom:1rem;
        border: none;
        border-bottom:1px solid #ced4da;
        border-radius: 0;
}
.add-about-wrapper .form-control:focus,.add-about-wrapper .form-control:active{
        outline:none;
        box-shadow: none;
}