#tabs-wrapper{
    .tab-list-wrapper{
        padding:1rem;
        .tab-list{
            padding:0;
            margin:0;
            .tab-item{
                width:40%;
                box-sizing: border-box;
                height:200px;
                .card{
                    height:100%;
                    overflow: hidden;
                }
            }
        }
    }
}