<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        block title
        
        block css
            link(rel="stylesheet", href="/css/main.css")
            link(rel="stylesheet", href="/css/bootstrap.min.css")
            link(rel="stylesheet", href="navigation.css")
            link(rel="stylesheet", href="/css/font-awesome.min.css")
    body
        main.admin-content-wrapper.row.m-0#admin-container
            include sidebar.pug
            section.content-body-wrapper.col-lg-9.p-0
                block main-content
                    .page-body-wrapper.col-lg-8
                        .header-container
                            block header
                        div.body-container#config-content
                            block page-content
                                #root
                                <app-root></app-root>
                    if toShowContentsidebar
                        .page-sidebar-wrapper.col-lg-4.p-0
                            block image-sidebar

        block scripts
            <script src="/js/main.js"></script>
    