<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        block title
    body
        main.content-wrapper
            section.nav-sidebar
                .nav-wrapper
                    ul
                        li
                            a(href="") Home
                        li
                            a(href="") About
                        li
                            a(href="") Belief
                        li
                            a(href="") Passion
                        li
                            a(href="") Connect
        block body-content