<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        block title
        link(rel="stylesheet", href="navigation.css")
        link(rel="stylesheet", href="/css/font-awesome.min.css")
        block css
    body
        main.admin-content-wrapper#admin-container
            section.sidebar-container
                .nav-wrapper
                    ul
                        li
                            a(href="/admin") Home
                        li
                            a(href="/admin/about") About
                        li
                            a(href="/admin/belief") Belief
                        li
                            a(href="/admin/passion") Passion
                        li
                            a(href="/admin/connect") Connect
            block body-content
        block scripts            