section.sidebar-container.col-lg-3
    .sidebar-header
        h3 sidebar logo
    .nav-wrapper.d-flex.flex-column.justify-content-center
        ul.navigation
            li.nav-link
                a(href="/admin")
                    h3 Home
            li.nav-link
                a(href="/admin/about")
                    h3 About
            li.nav-link
                a(href="/admin/belief")
                    h3 Belief
            li.nav-link
                a(href="/admin/passion")
                    h3 Passion
            li.nav-link
                a(href="/admin/connect")
                    h3 Connect
            if user.userType === "SUPERADMIN"
                li.nav-link
                    a(href="/admin/users")
                        h3 Users
                li.nav-link
                    a(href="/admin/notifications")
                        h3 Notifications
                li.nav-link
                    a(href="/admin/todos")
                        h3 To-Dos
            li.nav-link
                form(action="/user/logout",method="POST")
                    input#logout-button(type="submit",value="Logout")
    .sidebar-footer
        h3 sidebar footer